<!DOCTYPE html>
<html>
  <head>
    <%- partial("_structure/head") %>
  </head>

  <body>
    <%- partial("_structure/header") %>
    <%- partial("_structure/navigation") %>

    <div class="content">
      <% if (current.source != "index") { %>
        <h2><%- public[current.source]._data.title %></h2>
      <% } %>
      <%- yield %>
    </div>

    <%- partial("_structure/footer") %>
  </body>
</html>
