<!DOCTYPE html>
<html>
  <head>
    <title>Title of the document</title>
    <link rel="stylesheet" type="text/css" href="/main.css">
    <script src="/main.js"></script>
  </head>

  <body>
    <%- partial("_structure/header") %>

    <div class="navigation">
      <a href="/" class="<%- current.path[0] === 'index' ? 'active' : ''%>">Home</a>
      <a href="/menu.html" class="<%- current.path[0] === 'menu' ? 'active' : ''%>">Menu</a>
      <a href="/locations.html" class="<%- current.path[0] === 'locations' ? 'active' : ''%>">Locations</a>
      <a href="/story.html" class="<%- current.path[0] === 'story' ? 'active' : ''%>">Story</a>
    </div>

    <div class="content">
      <%- yield %>
    </div>

    <div class="footer">
      <%- partial("_structure/breadcrumbs") %>
      <hr>
      <div class="content">
        <p>Any Delivery Charge is not a tip paid to your driver. Please reward your driver for awesomeness. Drivers carry less than $20.</p>
        <p>You must ask for this limited time offer. Minimum purchase required for delivery. Delivery charge and tax may apply. Prices, participation, delivery area and charges may vary, including AK and HI. Returned checks, along with the state's maximum allowable returned check fee, may be electronically presented to your bank. ©2018 Domino's IP Holder LLC. Domino's®, Domino's Pizza® and the game piece logo are registered trademarks of Domino's IP Holder LLC. "Coca-Cola" and the Contour Bottle design are registered trademarks of The Coca-Cola Company. The Ice Breakers® Mints trademark and trade dress are used under license. Apple, the Apple logo and iPad are trademarks of Apple Inc., registered in the U.S. and other countries. App Store is a service mark of Apple Inc. Android is a trademark of Google Inc. Windows® Phone is a registered trademark of the Microsoft group of companies.</p>
        <p>Domino's pizza made with a Gluten Free Crust is prepared in a common kitchen with the risk of gluten exposure. Therefore, Domino's DOES NOT recommend this pizza for customers with celiac disease. Customers with gluten sensitivities should exercise judgment in consuming this pizza.</p>
      </div>
    </div>
  </body>
</html>
