<div class="navigation">
  <a href="/" class="<%- current.path[0] === 'index' ? 'active' : ''%>">
    <%- public._data.home %>
  </a>

  <a href="/menu.html" class="<%- current.path[0] === 'menu' ? 'active' : ''%>">
    <%- public.menu._data.title %>
  </a>

  <a href="/locations.html" class="<%- current.path[0] === 'locations' ? 'active' : ''%>">
    <%- public.locations._data.title %>
  </a>

  <a href="/story.html" class="<%- current.path[0] === 'story' ? 'active' : ''%>">
    <%- public.story._data.title %>
  </a>
</div>
