<% if (url) { %>
  <a class="card" href="<%- url %>">
    <jack-image image="<%- image %>" dimensions="4_3"></jack-image>
    <% if (title) { %>
      <h3><%- title %></h3>
    <% } %>
    <% if (description) { %>
      <p><%- description %></p>
    <% } %>
  </a>
<% } else { %>
  <div class="card">
    <jack-image image="<%- image %>" dimensions="4_3"></jack-image>
    <% if (title) { %>
      <h3><%- title %></h3>
    <% } %>
    <% if (description) { %>
      <p><%- description %></p>
    <% } %>
  </div>
<% } %>
